---
layout: nil
title: Home
navigation: Home
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="utf-8">
	<title>WikiBox</title>
	<meta name="description" content="This is a wiki.">
	<link rel="alternate" type="application/atom+xml" title="WikiBox Posts" href="#/atom.xml">
	<link href="/assets/icon/favicon.png" rel="shortcut icon" type="image/x-icon"/>
	<link href="/assets/css/foldingtext.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
	<header>
		<h1>
			<a href="./index.html"><img src="./assets/icon/logo.png" height="64px"/></a>
			<a href="./index.html"><br /><br />WikiBox<br /><br />- A guerilla wiki for hackers -<br /><br /></a>
		</h1>
	</header>
	
	<div class="row">
		<div class="col">
		{% capture b01 %}{% include customize-root-index/box001.md %}{% endcapture %}
	    {{ b01 | markdownify }}
		</div>

		<div class="col">
		{% capture b02 %}{% include customize-root-index/box002.md %}{% endcapture %}
	    {{ b02 | markdownify }}
		</div>
		
		<div class="col">
		{% capture b03 %}{% include customize-root-index/box003.md %}{% endcapture %}
	    {{ b03 | markdownify }}
	    </div>

	    <div class="col">
		{% capture b04 %}{% include customize-root-index/box004.md %}{% endcapture %}
	    {{ b04 | markdownify }}
	    </div>
	</div>

	<footer>
		<h4>
		<a href="#/atom.xml">Posts</a>
		<a href="https://twitter.com/intent/user?screen_name=dataduke">Twitter</a>
		<a href="https://github.com/dataduke">Github</a>
		</h4>
	</footer>
</div>
</body>
</html>