/* HTML BODY */

html {
	/* Setting the baseline font */
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
html, body {
  	min-height: 100%;
}
body {
	font-family: Courier, monospace;
	font-size: 1.6rem;
	padding: 0 2rem;
	color: rgb(20%,20%,20%);
	background: rgb(97%,97%,97%);
}

/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
	font-size: 1.6rem;
	margin:1rem 0;
}
h1:before {
	font-weight:normal;
	content:"# ";
}
h1 {
	text-indent: -2rem;
}
h2:before {
	font-weight:normal;
	content:"## ";
}
h2 {
	text-indent: -3rem;
}
h3:before {
	font-weight:normal;
	content:"### ";
}
h3 {
	text-indent: -4rem;
}
h4 {
	font-weight: bold;
}
small {
	font-size: 1.3rem;	
}

/* LINKS */

a, a:link {
	color: black;
	text-decoration: underline;
}
a:hover {
	color: black;
	text-decoration: none;
}

/* LISTS */

ul, ol {
	padding: 0;
}
ul {
	list-style-type: circle;
}
li:before {
	content:none;
}

/* SOURCECODE */

code {
	font-family: Courier, monospace;
	font-size: 1.3rem;
	/*background: rgb(90%,90%,90%);*/
}

/* BLOCKQUOTES */

blockquote:before { 
content: "\201C"; 
float: left;
margin-left:-1rem;
}
blockquote {
	width:52rem;
	margin:2rem auto;
	margin-right:10rem;
	font-style:italic;
	clear:both;
}
blockquote a {
	text-decoration:none;
	color: rgb(20%,20%,20%);;
}
blockquote .author:before {
	content: " – "; 	
}


blockquote .quote:after { 
content: "\201D";
}

/* DIVIDERS */

hr {
	border:none;
	display:hidden;
	margin: 2rem 0;
	clear:both;
}

hr:after {
	display:block;
	text-align:center;
	content: "✦ ✦ ✦";
	color: rgb(20%,20%,20%);
}
