/* HEADER */
header {
	text-align:center;
}
header h1:before {
	font-weight:normal;
	content:"";
}
header h1 {
	text-indent: 0rem;
}

/* FOOTER */
footer h4 {
	font-weight:normal;
	clear:both;
	text-align:center;
	font-size:1.25rem;
}

/* NAVIGATION */
#breadcrumb {
	list-style-type: none;
	text-transform:capitalize;
}


/* MEDIA */
.fancybox-nav span {
	width: 36px !important;
	height: 36px !important;
}
.fancybox-close {
	background-image: url('/static/close.svg') !important;
}
.screencast img {
	padding-right:1rem;
	height:1.6rem;
	vertical-align:-20%;
}
@media all and (min-width: 50em) {
	body {
		padding-top:2rem;
	}
}
@media all and (min-width: 70em) {
	body {
		padding-top:8rem;
	}
}