---
layout: default
title: Box 1
box: box001
navigation: Box 1
---

{% for post in site.posts %}
  {% capture b %}{{ post.box }}{% endcapture %}
  {% capture y %}{{ post.date | date:"%Y" }}{% endcapture %}
  {% if b == "box001" %}
    {% if year != y %}
    {% assign year = y %}
        <h2>{{ y }}</h2>
    {% endif %}
    <h3 class="title">
      <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
      <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </h3>
    <div class="entry">
      {{ post.content | strip_html | truncatewords: 100 }}
    </div>
  {% endif %}
{% endfor %}