---
layout: default
type: layout
description: A post with metadata.
---
<div id="page" class="center90">
	<p>
    <span id="page-title">{{ page.title }}</span>&#160;<span id="page-count">{{ page.content | number_of_words }}</span>
  </p>
	<p id="page-meta">
    {% capture createdtime %}{{ page.date | date:"%H:%M" }}{% endcapture %}   
    {% capture changedtime %}{{ page.edit | date:"%H:%M" }}{% endcapture %}
    {% capture changed %}{{ page.edit | date:"%Y-%m-%d" }}{% endcapture %}
    {% if createdtime == "00:00" %}
      <!-- Date:  -->{{ page.date | date:"%Y-%m-%d --:-- %A" }} <br /> {% else %}
      <!-- Date:  -->{{ page.date | date:"%Y-%m-%d %H:%M %A" }} <br /> {% endif %}
    {% if changed != "" %} {% if changedtime == "00:00" %}
      <!-- Edit:  -->{{ page.edit | date:"%Y-%m-%d --:-- %A" }} <br /> {% else %}
      <!-- Edit:  -->{{ page.edit | date:"%Y-%m-%d %H:%M %A" }} <br /> {% endif %}{% endif %}
    {% capture tags %}{{ page.tags }}{% endcapture %}
    {% for tag in page.tags %}
      {% if forloop.first %}<br /><!-- Tags: --> {% endif %}
      {{ tag }}{% unless forloop.last %}<!-- , -->{% endunless %}
      {% if forloop.last %} <br />{% endif %}
     {% endfor %}
  </p>  
  {% if page.line %}
    <p id="page-line"><!-- Line:  -->{{ page.line }}<br/></p>
  {% endif %} 
	<p id="page-entry"> {{ content }} </p>
</div>