---
layout: nil
type: layout
description: A plain layout with a footer for w3.org validation.
---

<!DOCTYPE html>
<html lang="en">
<head>	
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="utf-8">
	<title>WikiBox</title>
	<meta name="description" content="This is a wiki.">
	<link rel="alternate" type="application/atom+xml" title="WikiBox Posts" href="#/atom.xml">
	<link href="/assets/icon/favicon.png" rel="shortcut icon" type="image/x-icon"/>
	<link href="/assets/css/foldingtext.css" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="/assets/highlight/styles/zenburn.css">
	<script src="/assets/highlight/highlight.pack.js"></script>
	<!--
	<link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/default.min.css">
	<script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
	-->
	<script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
<div class="container">
	{{ content }}
	<footer>
	<div class="footer">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }} 
		<a href="index.html">Website.com</a>. Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> &amp; <a href="http://validator.w3.org/check?uri=referer">XHTML</a>
	</footer>
</div>
</body>
</html>