---
layout: nil
type: layout
description: A header with navigation and small footer.
---

<!DOCTYPE html>
<html lang="en">
<head>	
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="utf-8">
	<title>WikiBox</title>
	<meta name="description" content="This is a wiki.">
	<link rel="alternate" type="application/atom+xml" title="WikiBox Posts" href="#/atom.xml">
	
	<link href="/assets/icon/favicon.png" rel="shortcut icon" type="image/x-icon"/>
	<link href="/assets/css/foldingtext.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/foldingtext-ext.css" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="/assets/highlight/styles/zenburn.css">
	<script src="/assets/highlight/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
<div class="container">	
	<header>
	<div class="site-title">
			<a href="/index.html"><img src="/assets/icon/logo.png" height="64px"/></a>
			<a href="/index.html"><br /><br />WikiBox<br /><br /></a>
	</div>
	<div id="navigation">
		<a href="/index.html">Board</a>
		<a href="/box001/index.html">Box 1</a>
		<a href="/box002/index.html">Box 2</a>
		<a href="/box003/index.html">Box 3</a>
		<a href="/box004/index.html">Box 4</a>
		<a href="/box005/index.html">Box 5</a>
		<br /><br />
	</div>
	</header>

{{ content }}

	<footer>
		<a href="/index/posts.html">Posts</a>
		<a href="https://twitter.com/intent/user?screen_name=dataduke">Twitter</a>
		<a href="https://github.com/dataduke">Github</a>
	</footer>
</div>
</body>
</html>