---
layout: default
type: layout
description: A very simple list layout.
---
<div id="view-navigation" class="center60">
	{{ content }}
</div>	
<div id="index" class="center60">		
{% for post in site.posts %}
  {% capture b %}{{ post.box }}{% endcapture %}
  {% if content contains b %}
   	<p><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
    <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d " }}</time>
    <span class="post-title">{{ post.title }}</span>&#160;<span class="page-count">{{ post.content | number_of_words }}</span></a></p>
  {% endif %}
{% endfor %}
</div>