---
layout: default
type: layout
description: A layout with year seperation.
---
<index>
{% for post in site.posts %}
  {% capture b %}{{ post.box }}{% endcapture %}
  {% capture y %}{{ post.date | date:"%Y" }}{% endcapture %}
  {% if content contains b %}
    {% if year != y %}
    {% assign year = y %}
    <p class="post-seperator">{{ y }}</div>
    {% endif %}
    <div class="post-title">
      <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
      <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </div>
    <div class="post-preview">
      {{ post.content | strip_html | truncatewords: 100 }}
    </div>
  {% endif %}
{% endfor %}
</index>