---
layout: default
type: layout
description: A post with metadata.
---
<div class="page articlewidth">
	<p><span class="page-title">{{ page.title }}</span>&#160;<span class="page-count">{{ page.content | number_of_words }}</span></p>
	<p><div class="page-meta">
    {% capture createdtime %}{{ page.date | date:"%H:%M" }}{% endcapture %}   
    {% capture changedtime %}{{ page.edit | date:"%H:%M" }}{% endcapture %}
    {% capture changed %}{{ page.edit | date:"%Y-%m-%d" }}{% endcapture %}
    {% if createdtime == "00:00" %}
      <!-- Date:  -->{{ page.date | date:"%Y-%m-%d --:-- %A" }} <br /> {% else %}
      <!-- Date:  -->{{ page.date | date:"%Y-%m-%d %H:%M %A" }} <br /> {% endif %}
    {% if changed != "" %} {% if changedtime == "00:00" %}
      <!-- Edit:  -->{{ page.edit | date:"%Y-%m-%d --:-- %A" }} <br /> {% else %}
      <!-- Edit:  -->{{ page.edit | date:"%Y-%m-%d %H:%M %A" }} <br /> {% endif %}{% endif %}
    {% capture tags %}{{ page.tags }}{% endcapture %}
    {% for tag in page.tags %}
      {% if forloop.first %}<br /><!-- Tags: --> {% endif %}
      {{ tag }}{% unless forloop.last %}<!-- , -->{% endunless %}
      {% if forloop.last %} <br />{% endif %}
     {% endfor %}<div></p>  
    {% if page.line %}
    <p><div class="page-line"><!-- Line:  -->{{ page.line }}<br/></div></p>{% endif %} 
	<div class="page-entry"> {{ content }} </div>
</div>