---
layout: default
type: layout
description: A very simple list layout.
---
<style type="text/css">
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
</style>
{% for post in site.posts %}
  {% capture b %}{{ post.box }}{% endcapture %}
  {% if content contains b %}
    <div>
    <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d " }}</time>
    <b><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </b>
  </div>
  {% endif %}
{% endfor %}